/* .img-container{
    margin-top: 30px;
    border-radius: 50%;
    border: 3px solid rgb(222, 12, 12);
    img {
      display:block ;
      border-radius: 10%;
    }
  } */
  .circle-img {
  width: 150px;
  height: 150px;
  /* border-radius: 50%; */
  object-fit: cover; /* Centers and crops the image */
}